<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Garden Row</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="body">
  <h1>The Garden Row- garden, sweet, garden!</h1>
  <section class="form">
    <h2>Login</h2>
    {% if messages %}
    <ul>
      {% for message in messages %}
      {% if 'login' in message.extra_tags %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    <form action="/login" method="post">
      {% csrf_token %}
      <p><label for="email">Email</label>
        <input type="email" name="email" id="email"></p>
      <p><label for="password">Password</label>
        <input type="password" name="password" id="password"></p>
      <button class="login">Login</button>
    </form>

    <button><a href="/register">Sign Up!</a></button>
  </section>
</body>

</html>