<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trip Buddy</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <h1>The Garden Row</h1>
  <section class="form">
    <h2>Register</h2>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      {% if 'register' in message.extra_tags %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    <form action="/create" method="post">
      {% csrf_token %}
      <p><label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name"></p>
      <p><label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name"></p>
      <p><label for="email">Email</label>
        <input type="email" name="email" id="email"></p>
      <p><label for="password">Password</label>
        <input type="password" name="password" id="password"></p>
      <p><label for="confirm">Confirm password</label>
        <input type="password" name="confirm" id="confirm"></p>
      <button class="main">Register</button>
      <button><a href="/">Go Back</a></button>
    </form>
  </section>